
	<div class="v-content__wrap">
		<div data-v-2a183b29="">
			<div data-v-2a183b29="" transition-duration="none" item-selector=".item" class="masonry-container"
				style="position: relative; height: 1324px;">
            {{#each this}}

				<div data-v-2a183b29="" class="item" >
					<div data-v-2a183b29="" class="ma-3 pa-3 v-card v-sheet theme--dark"
						style="background-color: rgb(38, 198, 218); border-color: rgb(38, 198, 218);">
						<div data-v-2a183b29="" class="v-card__title">
							<i data-v-2a183b29="" aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-twitter theme--dark" style="font-size: 36px;"></i>
							<span data-v-2a183b29="" class="title font-weight-light">Twitter</span></div>
						<div data-v-2a183b29="" class="v-card__text headline font-weight-bold">
							{{text}}
						</div>
						<div data-v-2a183b29="" class="v-card__actions">
							<div data-v-2a183b29="" tabindex="-1" class="grow v-list-item theme--dark">
								<div data-v-2a183b29="" class="v-avatar v-list-item__avatar grey darken-3"
									style="height: 40px; min-width: 40px; width: 40px;">
									<div data-v-2a183b29="" class="v-responsive v-image elevation-6">
										<div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
										<div class="v-image__image v-image__image--cover"
											style="background-image: url(&quot;{{profileImages}}&quot;); background-position: center center;">
										</div>
										<div class="v-responsive__content" style="width: 48px;"></div>
									</div>
								</div>
								<div data-v-2a183b29="" class="v-list-item__content">
									<div data-v-2a183b29="" class="v-list-item__title">{{username}}</div>
								</div>
								<div data-v-2a183b29="" class="row align-center justify-end">
									<i data-v-2a183b29="" aria-hidden="true" class="v-icon notranslate mr-1 mdi mdi-heart theme--dark"></i>
									<span data-v-2a183b29="" class="subheading mr-2">{{favoriteCount}}</span>
									<span data-v-2a183b29="" class="mr-1">·</span>
									<i data-v-2a183b29="" aria-hidden="true" class="v-icon notranslate mr-1 mdi mdi-share-variant theme--dark"></i>
									<span data-v-2a183b29="" class="subheading">{{retweetCount}}</span></div>
							</div>
						</div>
					</div>
				</div>

            {{/each}}
			</div>
		</div>
	</div>


<style>
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	--v-anchor-base: #00838f;
	--v-primary-base: #00838f;
	--v-primary-lighten5: #adffff;
	--v-primary-lighten4: #90f1fd;
	--v-primary-lighten3: #73d4e1;
	--v-primary-lighten2: #55b8c5;
	--v-primary-lighten1: #359da9;
	--v-primary-darken1: #006a75;
	--v-primary-darken2: #00515d;
	--v-primary-darken3: #003a45;
	--v-primary-darken4: #00242f;
	--v-secondary-base: #ff8f00;
	--v-secondary-lighten5: #ffff9f;
	--v-secondary-lighten4: #ffff83;
	--v-secondary-lighten3: #ffe267;
	--v-secondary-lighten2: #ffc64b;
	--v-secondary-lighten1: #ffaa2d;
	--v-secondary-darken1: #df7500;
	--v-secondary-darken2: #bf5b00;
	--v-secondary-darken3: #a04200;
	--v-secondary-darken4: #832900;
	--v-accent-base: #424242;
	--v-accent-lighten5: #c1c1c1;
	--v-accent-lighten4: #a6a6a6;
	--v-accent-lighten3: #8b8b8b;
	--v-accent-lighten2: #727272;
	--v-accent-lighten1: #595959;
	--v-accent-darken1: #2c2c2c;
	--v-accent-darken2: #171717;
	--v-accent-darken3: #000000;
	--v-accent-darken4: #000000;
	--v-error-base: #dd2c00;
	--v-error-lighten5: #ffc187;
	--v-error-lighten4: #ffa46c;
	--v-error-lighten3: #ff8753;
	--v-error-lighten2: #ff6a39;
	--v-error-lighten1: #fe4d1f;
	--v-error-darken1: #bc0000;
	--v-error-darken2: #9d0000;
	--v-error-darken3: #7f0000;
	--v-error-darken4: #630000;
	--v-info-base: #26a69a;
	--v-info-lighten5: #c3ffff;
	--v-info-lighten4: #a5ffff;
	--v-info-lighten3: #87fbed;
	--v-info-lighten2: #6aded0;
	--v-info-lighten1: #4bc2b5;
	--v-info-darken1: #008b80;
	--v-info-darken2: #007167;
	--v-info-darken3: #00584f;
	--v-info-darken4: #004038;
	--v-success-base: #00e676;
	--v-success-lighten5: #ceffff;
	--v-success-lighten4: #afffe4;
	--v-success-lighten3: #8fffc8;
	--v-success-lighten2: #6dffac;
	--v-success-lighten1: #47ff91;
	--v-success-darken1: #00c95c;
	--v-success-darken2: #00ad43;
	--v-success-darken3: #009129;
	--v-success-darken4: #00760d;
	--v-warning-base: #ffc107;
	--v-warning-lighten5: #ffffae;
	--v-warning-lighten4: #ffff91;
	--v-warning-lighten3: #ffff74;
	--v-warning-lighten2: #fff956;
	--v-warning-lighten1: #ffdd37;
	--v-warning-darken1: #e0a600;
	--v-warning-darken2: #c18c00;
	--v-warning-darken3: #a27300;
	--v-warning-darken4: #855a00;
	font-family: "Roboto",
	sans-serif;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.87);
	box-sizing: inherit;
	background-repeat: no-repeat;
	margin: 0;
	display: flex;
	flex: 1 0 auto;
	max-width: 100%;
	transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	padding: 64px 0px 36px;
</style>